<html>
	
	<head>
		<h1>Hello Dudes!!</h1>
	</head>

	<body>
		<ul class="students">
			
			<% for(var i = 0; i < students.length; i++) { %>
			<li class="student">
				<span> <%= students[i].name %> - <%= students[i].nickName %> </span>
			</li>
			<% } %>
		</ul>
	</body>
</html>
